
.projects-body{
    display:flex;
    flex-direction: column;
    height: 100vh;
    /* background-color: red; */
    background-image: url("../../src/assets/pictures/comp-phone-pen.jpg");
    /* height: 150%; */
    background-position: center;
    background-size:cover;
    background-repeat: none;
  }
  
  .projects-header{
    display:flex;
    width:90%;
    padding-left: 5%;
    padding-top: 3%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5%;
  
  }
  
  .projects-develop{
    color:aliceblue;
    height:45px;
    font-size: 40px;
    font-weight: bolder;
  }
  
  .header-tag{
    color:aliceblue;
    height:30px;
    font-size: 24px;
    font-weight: bolder;
    margin-top: 2%;
  }
  
  
  .home-links{
    display:flex;
    justify-content: space-evenly;
    width: 40%;
    /* background-color: turquoise; */
  }
  
  .link-button{
    height: 30px;
    background-color: transparent;
    border-style: none;
    /* color: #6096BA; */
    color: #54bcf0;
    font-size: 26px;
    font-weight: bolder;
    transition: 0.4s;

  }
  
  .link-button:hover{
    cursor: pointer;
    /* color:#ffffff; */
    /* text-shadow: 0 0 4px #ffffff; */
  }
  
  
  .projectsList{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* min-height: 70vh; */
    max-height: 75vh;
    align-self: center;
    width:80vw;
    background-color: rgba(0, 0, 0, 0.749);
    text-align: center;
    overflow-y: auto;
    
  }
  
  .content{
    /* overflow-y: auto; */
    height: calc(100% - 30px);
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;

  }
 

  .projectsTop{
    display:flex;
    justify-content: space-around;
    /* margin-top: 35vh; */
  }
  
  .projectsBottom{
    display:flex;
    justify-content: space-around;
  
  }


  
  .project{
    display:flex;
    /* flex-direction: column; */
    margin-bottom: 2.5%;
    width:90%;
    justify-content: space-around;
    align-items: center;
    margin-top: 2.5vh;
    /* margin-left: 10%;
    margin-right: 10%; */
    /* background-color: aqua; */
  }

  .lastProject{
    display:flex;
    /* flex-direction: column; */
    margin-bottom: 2.5%;
    width:90%;
    justify-content: space-around;
    align-items: center;
    margin-top: 2.5vh;
    padding-bottom: 30px;
    /* background-color: aqua; */
  }

  .projectLeft{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    /* background-color: burlywood; */
  }


  .projectName{
    font-size: 28px;
    font-weight: bold;
  }
  
  .projectVideo{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .projectRight{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:40%;
    /* background-color: burlywood; */
  }
  
  
  .projectDescription{
    font-size: 22px;
    width:100%;
  }
  
  .techIntro{
    font-size: 22px;
  }
  
  .projectTechs{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    /* background-color: aqua; */
    min-width: fit-content;

  
  }
  
  .techImage{
    max-width: 50px;
    max-height:50px;
  }
  